@media (prefers-color-scheme: dark) {
  html, img, video, iframe, button {
    filter: invert(1);
  }
  body {
    background-color: white;
  }
}

body {
  background: white;
  color: black;
  font-family: Georgia, Times, "Times New Roman", serif, Tahoma, Helvetica, Arial;
  font-size: 13px;
  text-align: left;
}
header {
  background-color: white;
  border-style: double;
  border-width: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0.1%;
  width: 240px;
}

.wrap {
  overflow: hidden;
}

.about {
  background-color: white;
  border-style: dashed;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 10px;
}
.social {
  background-color: white;
  border-style: dashed;
  border-width: 1px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin: 0 0.1%;
  width: 225px;
}
.archive {
  background-color: white;
  border-style: dotted;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin: 0 0.1%;
  width: 260px;
  text-align: left;
}
.return {
  background-color: white;
  border-style: dotted;
  border-width: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: 0 0.1%;
  width: 10px;
}
article {
  background-color: white;
  border-style: dashed;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: left;
  margin: 0 0.1%;
  h2 {
    text-align: center;
  }
}
nav {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin: 0 0.1%;
  width: 160px;
}
a:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
  text-decoration: underline;
}
