body {
  background-color: black;
  color: #19FF80;
  font-family: monospace;
}
header {
  border-style: double;
  border-width: 4px;
  padding-left: 20px;
  padding-right: 5px;
  margin: 0 0.5%;
  width: 250px;
}
.about {
  border-style: dashed;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 10px;
}
.social {
  border-style: dashed;
  border-width: 1px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin: 0 0.1%;
  width: 225px;
}
.archive {
  border-style: dotted;
  border-width: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: 0 0.1%;
  width: 220px;
}
.return {
  border-style: dotted;
  border-width: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: 0 0.1%;
  width: 190px;
}
article {
  border-style: dashed;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
}
nav {
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 0 0.5%;
  width: 170px;
}
hr {
  height: 1px;
  border-width: 0;
  background-color: #19FF80;
  color: #19FF80;
}
a:link {
  color: #2ECFFF;
  text-decoration: underline;
}

a:visited {
  color: #2ECFFF;
  text-decoration: underline;
}