body {
  background-color: #20B2AA;
  color: black;
  font-family: monospace;
}
header {
  background-color: GoldenRod;
  border-style: outset;
  border-width: 4px;
  border-color: Gold;
  padding-left: 10px;
  padding-right: 5px;
  margin: 0 0.5%;
  width: 230px;
}
.about {
  background-color: #a0a0a4;
  border-style: outset;
  border-width: 4px;
  border-color: #c0c0c0;
  padding-left: 15px;
}
.social {
  background-color: #a0a0a4;
  border-style: outset;
  border-width: 4px;
  border-color: #c0c0c0;
  padding-left: 15px;
  padding-bottom: 10px;
  margin: 0 0.1%;
  width: 225px;
}
  
article {
  background-color: #a0a0a4;
  border-style: outset;
  border-width: 4px;
  border-color: #c0c0c0;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
}
nav {
  background-color: #009f55;
  border-style: outset;
  border-width: 3px;
  border-color: #009f00;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 0 0.5%;
  width: 155px;
}